body
    color blue
    
h1
    text-align center
    font-family 'Marcellus SC', serif
    
.container
    max-width 1200px
    margin 0 auto
    
.loadingScreen
    background-color black
    top 0
    position absolute
    height 100%
    width 100%
    z-index 10
    font-size 48px
    padding-top 25%
    color white
    text-align center